body {
    font-family: Arial, sans-serif; /* Добавлен стандартный шрифт */
    margin: 0; /* Убираем лишние отступы */
    padding: 0 1cm; /* Оставляем боковые отступы */
    background-color: #f0f0f0; /* Лёгкий серый фон для контраста */
}

header {
    background-color: #dcfdfd; /* Мягкий голубой фон */
    color: #1d1f00; /* Контрастный тёмный текст */
    text-align: center; /* Центровка текста */
    padding: 20px; /* Добавлен padding для воздушности */
    margin: 0 auto 20px; /* Центруем и добавляем отступ снизу */
    border-bottom: 2px solid #ccc; /* Тонкая граница снизу */
    width: 90%; /* Полная ширина экрана */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Добавлена тень для объёма */
}

article {
    width: 70%; /* Сделаем шире, чтобы больше текста помещалось */
    margin: 20px auto; /* Добавляем отступы сверху и снизу */
    padding: 20px;
    background-color: #f7fcfb; /* Белый фон для контраста с фоном body */
    border-radius: 10px; /* Округлённые углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Лёгкая тень для глубины */
    overflow: hidden
}

p {
    color: #00103b; /* Сделан текст темнее для лучшей читабельности */
    font-size: 1.2em; /* Увеличиваем размер шрифта */
    line-height: 1.8; /* Увеличиваем межстрочный интервал для удобства */
    margin-bottom: 20px; /* Добавляем отступ снизу для разделения абзацев */
}

h3 {
    color: #333; /* Тёмный цвет для заголовков */
    font-size: 1.5em; /* Заголовки немного больше */
    margin-top: 30px; /* Добавляем отступ сверху для разделения глав */
    margin-bottom: 10px; /* Убираем лишний отступ снизу */
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 5% 0; /* Отступы сверху и снизу */
}

article img {
    max-width: 260px;
    height: auto;
    float: left; /* Изображение плавает слева от текста */
    margin-right: 10px; /* Отступ справа от картинки */
}



